* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height : 100vh;
  background: #111;
  overflow: hidden;
}

.circle {
  position: absolute;
  bottom: 0;
  width: 20px;
  aspect-ratio: 1/1;
  background: #0f0;
  box-shadow: 0 0 10px #0f0,
  0 0 20px #0f0,
  0 0 30px #0f0,
  0 0 50px #0f0;
  border-radius: 50%;
  animation: animate 5s linear forwards
}

.circle:nth-child(3n) {
  background: #f00;
  box-shadow: 0 0 10px #f00,
  0 0 20px #f00,
  0 0 30px #f00,
  0 0 50px #f00;
}

@keyframes animate 
{
  0%  {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
     opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
     opacity: 0;
  }
}

.circle::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 25%;
  width: 50%;
  height: 100vh;
  opacity: 0.5;
  background: linear-gradient( #0f0, transparent);
}

.circle:nth-child(3n)::before {
    background: linear-gradient( #f00, transparent);
}